body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(56, 56, 56);
}

#herd {
    width:100%;
    text-align: center;
    border-collapse: collapse;
}


#herd tr:nth-child(even) {
    background-color: rgb(226, 226, 226);
}

#herd tr:hover {
    background-color: rgb(180, 180, 180);
}

#herd th {
    background-color: rgb(109, 255, 255);
}

#herd td, tbody tr th {
    border:1px solid rgb(163, 163, 163);
}