body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(56, 56, 56);
    text-align: center;
}

.form-container {
    display:flex;
    justify-content: center;
    padding: 30px 0px;

}

.form {
    display:flex;
    flex-direction: column;
    width:50%;
    padding:10px
}

.form h3 {
    text-align: center;
}

.form input, select {
    margin-bottom: 10px;
}

#herd {
    width:100%;
    text-align: center;
    border-collapse: collapse;
}


#herd tr:nth-child(even) {
    background-color: rgb(226, 226, 226);
}

#herd tr:hover {
    background-color: rgb(180, 180, 180);
}

#herd th {
    background-color: rgb(109, 255, 255);
}

#herd td, tbody tr th {
    border:1px solid rgb(163, 163, 163);
}